<h1>hotelの投稿</h1>
<h3>一覧ページ</h3>
<%= link_to "新規投稿へ", new_hotel_path %>
<div class="hotels-container">
  <% @hotels.each do |t| %>
    <div class="hotel">
      <%= image_tag t.image_url, size: "250x200" if t.image? %>
      <%= t.hotel_name %>

      <% if user_signed_in? %>
     <% if current_user.already_likead?(t) %>
        <%= link_to hotel_likea_path(id: t.id, hotel_id: t.id), data: { turbo_method: :delete } do %>
            <p>いいねを取り消す</p><%= t.likeas.count %>
        <% end %>
     <% else %>
        <%= link_to hotel_likeas_path(id: t.id, hotel_id: t.id), data: { turbo_method: :post }  do %>
            <p>いいね</p><%= t.likeas.count %>
        <% end %>
     <% end %>
<% else %>
    <p>いいねの数 = </p><%= t.likeas.count %>
<% end %>

      <%= t.hotel_name %>
      <%= t.information %>
      <%= link_to "詳細へ", hotel_path(t.id) %>
      <%= link_to "編集する", edit_hotel_path(t.id) %>
      <%= button_to "削除する", hotel_path(t.id), method: :delete %>
    </div>
  <% end %>

  <h1>いいねランキング</h1>
    <% @rank_hotels.each do |t| %>
    <div class="hotel">
      <%= image_tag t.image_url, size: "250x200" if t.image? %>
      <%= t.hotel_name %>

      <% if user_signed_in? %>
     <% if current_user.already_likead?(t) %>
        <%= link_to hotel_likea_path(id: t.id, hotel_id: t.id), data: { turbo_method: :delete } do %>
            <p>いいねを取り消す</p><%= t.likeas.count %>
        <% end %>
     <% else %>
        <%= link_to hotel_likeas_path(id: t.id, hotel_id: t.id), data: { turbo_method: :post }  do %>
            <p>いいね</p><%= t.likeas.count %>
        <% end %>
     <% end %>
<% else %>
    <p>いいねの数 = </p><%= t.likeas.count %>
<% end %>

      <%= t.hotel_name %>
      <%= t.information %>
      <%= link_to "詳細へ", hotel_path(t.id) %>
      <%= link_to "編集する", edit_hotel_path(t.id) %>
      <%= button_to "削除する", hotel_path(t.id), method: :delete %>
    </div>
  <% end %>

  <%= link_to "いいねページ", likea_path %>

  <div id='map'></div>

<style>
#map {
  height: 600px;
  width: 100%;
}
</style>

<!-- js部分 -->
<script>
    function initMap() {

      //初期表示位置
      let latlng = new google.maps.LatLng(38.60, 139.5);
      //デザイン
      let styles = [
           {
            stylers: [
             { "saturation": 0 },
             { "lightness": 0 }
            ]
           }
          ];

      let map = new google.maps.Map(document.getElementById('map'), {
          zoom: 5.5,
          styles: styles,
          center: latlng
      });
      let transitLayer = new google.maps.TransitLayer();
      transitLayer.setMap(map);

//複数マーカー ここから
      <% @hotels.each do |hotel|%>
        ( function() { 
          let markerLatLng = { lat: <%= hotel.lat %>, lng: <%= hotel.lng %> }; // 緯度経度のデータ作成
          let marker = new google.maps.Marker({ 
            position: markerLatLng, 
            map: map 
          });
//マーカーをクリックしたとき、詳細情報を表示
          let infowindow = new google.maps.InfoWindow({
            position: markerLatLng,
            content: "<a href='<%= hotel_url(hotel.id) %>' target='_blank'><%= hotel.hotel_name %></a>"
          }); //ここで詳細ページへのリンクを表示させる
          marker.addListener('click', function() {
            infowindow.open(map, marker);
          });

       })();
      <% end %>
      //複数マーカー ここまで  
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCARfvcUXae1Ch6I363oRyOGDESbArTVOk&callback=initMap" async defer></script>

</div>